.add {
  text-decoration: none;
  color: black;

}

.status {
  text-decoration: none;
  color: black;
}

.list {
  text-decoration: none;
  color: black;
}

.adding {
  width: 380px;
  height: 400px;
  margin: auto;
  text-align: center;
  border: 2px solid black ;
  border-radius: 20px;
  margin-top: 140px;
}

.addtext {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.direct {
  text-decoration: none;
  color: black;
}


.tables {
  height: 800px;
  width: 500px;
  overflow: scroll;
  text-align: center;
  margin-left: 30px;
}

.stats {
  height: 800px;
  width: 550px;
  overflow: scroll;
}

.playing {
  background-color: lightgreen !important;
  color: white;
  font-weight: bold;
  padding: 0.45rem;
}
.not-playing {
  background-color: rgb(220, 155, 155) !important;
  color: white;
  font-weight: bold;
  padding: 0.45rem;
}
.undecided {
  background-color: rgb(214, 214, 131) !important;
  font-weight: bold;
  padding: 0.45rem;
}
.status-player {
  width: 100px;
  background-color: white !important;
  color: black;
  margin: 0 1rem;
}